/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=VT323);

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #FCFCFC;
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
}

td:first-child {
  padding-left: 8px;
  padding-right: 7px;
  text-align: right;
  width: 1px;
}

td:last-child {
  padding-right: 7px;
}

.flash {
  padding: 8px 0px 2px 0px;
  height: 20px;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-bottom: 1px solid white;
  background-color: CornflowerBlue ;
}

.flash a {
  font-weight: bold;
  background-color: rgba(0,0,0,0.1);
  padding: 2px 4px 2px 4px;
  border-radius: 2px;
  color: white;
  text-decoration: none;
}

.flash a:hover {
  background-color: rgba(0,0,0,0.5);
}

.log-button {
  display: block;
  text-align: center;
  top: 0px;
  width: 100%;
  padding: 6px 0px 4px 0px;
  height: 20px;
  background-color: Orange;
  color: white;
  text-decoration: none;
  font-size: 12px;
}

.log-button span.tick {
  font-size: 1.1em;
}

td.log {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: YellowGreen;
  padding: 5px 0px 5px 0px;
  height: 20px;
}

td.log span {
  font-size: 1.2em;
}

.read {
  background-color: rgba(154, 205, 50, 0.25);
}

.read .title-link:visited {
  color: #454545;
  border-bottom: 1px solid black;
}

.read .title-link:visited:hover {
  color: black;
  border-bottom: 1px solid black;
}

.icon {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

span.muted span {
  margin-left: 7px;
}

span.muted a {
  color: Gray;
}

span span.topped {
  background-color: black;
  padding-left: 2px;
  padding-right: 2px;
  padding-bottom: 1px;
  border-radius: 2px;
  color: #FFD700;
}

.unselected {
  opacity: 0.3;
}

.muted {
  color: Gray;
  font-size: 0.85em;
}

.muted span {
  color: DarkGray;
}

.title-link {
  color: #454545;
  text-decoration: none;
  border-bottom: 1px solid #454545;
}

.title-link:visited {
  color: DarkGray;
  border-bottom: 1px solid DarkGray;
}

.title-link:hover {
  color: black;
  border-bottom: 2px solid black;
}

.title-link:visited:hover {
  color: DarkGray;
  border-bottom: 2px solid DarkGray;
}

.menu {
  right: 0px;
  top: 0px;
  position: fixed;
  margin: 0px;
  z-index: 1;
}

.graph {
  position: fixed;
  right: 0px;
  bottom: 0px;
}

.graph img {
  height: 70px;
  width: 150px;
}

.logo {
  color: #F8F8F8;
  background-color: #454545;
  padding: 5px 10px 5px 10px;
  max-height: 20px;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: white;
  border: none;
}

.logo a {
  border: none;
  text-decoration: none;
}

.logo a:visited {
  color: white;
}

.options {
  background-color: #FCFCFC;
  padding: 5px;
  font-size: 12px;
  font-family: monospace;
  border-left: 1px solid LightGrey;
}

.options p {
  text-align: right;
  margin: 0px 0px 4px 0px;
}

.options p:last-child a {
  color: DarkGray;
}

.options span {
  margin-right: 5px;
  margin-left: 5px;
}

.options a {
  color: black;
  text-decoration: none;
  border-bottom: 1px solid LightGrey;
}

.options a:visited {
  color: black;
}

.stats {
  font-size: 0.7em;
  text-align: right;
  margin: 0px;
  padding: 3px;
  background-color: LightGrey;
  border-bottom-left-radius: 3px;
}

.source-selector {
  width: 50px;
  position: fixed;
  top: 90px;
  right: 0px;
  text-align: center;
  z-index: 10;
}

.source-selector img {
  border-radius: 20px;
  border: 2px solid #454545;
  box-shadow: 0px 0px 10px DarkGray;
}

@media (max-width: 600px) {
  html { overflow-x: hidden; }

  body {
    font-size: 16px;
    line-height: 1.4em;
    overflow-x: hidden;
  }

  table {
    margin-top: 0px;
  }

  .menu {
    right: 0px;
    top: 0px;
    position: relative;
    margin: 0px;
  }

  .graph {
    position: relative;
    width: 100%;
    text-align: center;
  }

  .graph img {
    height: 70px;
  }

  .logo {
    float: none;
    position: relative;
    border-radius: 0px;
  }

  .logo a.menu-text {
    color: white;
  }

  .log-button {
    border-radius: 0px;
    right: inherit;
    margin-top: 5px;
    text-align: center;
    padding: 15px 0px 15px 0px;
  }

  .log-button span.message {
    display: none;
  }

  .log-button span.tick {
    font-size: 25px;
  }

  td.log {
    padding: 16px 0px 14px 0px;
  }

  .source-selector {
    width: 100%;
    position: relative;
    margin-top: 5px;
    top: 0px;
  }

  .source-selector a {
    margin-right: 5px;
    margin-left: 5px;
  }

  .options {
    font-size: 15px;
    text-align: center;
    float: none;
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: none;
  }

  .options p {
    text-align: center;
  }

  .options span {
    margin-right: 20px;
    margin-left: 20px;
  }

  .stats {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    margin: 0px;
    padding: 5px;
    background-color: transparent;
  }
}
