/*
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #FCFCFC;
  margin: 30px 0px 0px 0px;
}

p {
  margin: 0px;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  border-collapse: collapse;
  tr {
    background-color: #FFF5E3;
  }
}

.hidden {
  display: none;
}

a.coffee {
  display: block;
  position: fixed;
  bottom: 10px;
  right: 10px;

  img {
    max-width: 150px;
    width: 30vw;
    min-width: 90px;
  }
}
