/*
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #FCFCFC;
  margin: 0px;
}

p {
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

.hidden {
  display: none;
}
