/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #FCFCFC;
  margin: 0px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
}

td:first-child {
  padding-left: 8px;
  padding-right: 7px;
  text-align: right;
  width: 1px;
}

td:last-child {
  padding-right: 7px;
}

.flash {
  padding: 8px 0px 2px 0px;
  height: 20px;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-bottom: 1px solid white;
  background-color: CornflowerBlue;

  a {
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }

  span {
    opacity: 0.7;
  }
}

#log-button {
  display: block;
  text-align: center;
  top: 0px;
  width: 100%;
  padding: 6px 0px 4px 0px;
  height: 20px;
  background-color: Orange;
  color: white;
  text-decoration: none;
  font-size: 12px;

  span.tick {
    font-size: 1.1em;
  }
}

td.log {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: YellowGreen;
  padding: 5px 0px 5px 0px;
  height: 20px;

  span {
    font-size: 1.2em;
  }
}

.read {
  background-color: rgba(154, 205, 50, 0.25);

  .item-title {
    a:visited {
      color: #454545;
      border-bottom: 1px solid black;
    }

    a:visited:hover {
      color: black;
      border-bottom: 1px solid black;
    }
  }
}

.icon {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.clock-icon {
  opacity: 0.5;
  margin-right: 2px;
}

.points {
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  img {
    opacity: 0.75;
    margin-right: 2px;
    margin-bottom: -1px;
  }
}

.twitter-icon {
  margin-bottom: -3px;
  margin-right: -6px;
  opacity: 0.7;
}

.format-icon {
  background-color: DarkGray;
  border-radius: 3px;
  margin-left: 4px;
  color: white;
  padding: 1px 5px;
  font-size: 0.6em;
}

span.muted {
  span {
    margin-left: 7px;

    &.topped {
      font-size: 13px;
      color: #FFD700;
    }
  }

  a {
    color: Gray;
  }
}

.domain, .short-domain {
  font-size: 0.8em;
  color: DarkGrey;
}

.short-domain {
  display: none;
}

.unselected {
  opacity: 0.3;
}

.muted {
  color: Gray;
  font-size: 0.85em;

  span {
    color: DarkGray;
  }

  .fast { color: SeaGreen; }
  .medium { color: SandyBrown; }
  .slow { color: Crimson; }
}

.item-title {
  font-size: 1em;
  display: inline;
  font-weight: normal;
  margin: 0px;

  a {
    color: #454545;
    text-decoration: none;
    border-bottom: 1px solid #454545;

    &:visited {
      color: DarkGray;
      border-bottom: 1px solid DarkGray;
    }

    &:hover {
      color: black;
      border-bottom: 2px solid black;
    }

    &:visited:hover {
      color: DarkGray;
      border-bottom: 2px solid DarkGray;
    }
  }
}

.menu {
  right: 0px;
  top: 0px;
  position: fixed;
  margin: 0px;
  z-index: 1;
}

.graph {
  position: fixed;
  right: 0px;
  bottom: 0px;

  img {
    height: 70px;
    width: 150px;
  }

  p {
    margin: 0px;
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 2px;
  }
}

.logo {
  color: #F8F8F8;
  background-color: #454545;
  padding: 5px 10px 5px 10px;
  max-height: 20px;
  font-family: "VT323", monospace;
  font-size: 20px;
  border: none;

  a {
    border: none;
    text-decoration: none;
    color: white;

    &:visited {
      color: white;
    }
  }
}

.options {
  background-color: #FCFCFC;
  padding: 5px;
  font-size: 12px;
  font-family: monospace;
  border-left: 1px solid LightGrey;

  p {
    text-align: right;
    margin: 0px 0px 4px 0px;

    &:last-child a {
      color: DarkGray;
    }
  }

  span {
    margin-right: 5px;
    margin-left: 5px;
  }

  a {
    color: black;
    text-decoration: none;
    border-bottom: 1px solid LightGrey;

    &:visited {
      color: black;
    }
  }
}

.stats {
  font-size: 0.7em;
  text-align: center;
  margin: 0px;
  padding: 3px;
  background-color: LightGrey;
  border-bottom-left-radius: 3px;
}

.extras {
  font-size: 0.8em;
  text-align: right;

  a {
    text-decoration: none;
    color: white;
    padding: 3px 5px;
    margin-right: 5px;
    background-color: SeaGreen;
    border-radius: 3px;

    &:first-child {
      background-color: CornflowerBlue;
    }
  }
}

.source-selector {
  width: 50px;
  position: fixed;
  top: 125px;
  right: 0px;
  text-align: center;
  z-index: 10;

  img {
    border-radius: 20px;
    border: 2px solid #454545;
    box-shadow: 0px 0px 10px DarkGray;
  }
}

/*welcome page*/
.container {
  margin: 50px auto 0px auto;
  width: 100%;
  max-width: 800px;
  padding: 10px;
  border-radius: 3px;

  h1 {
    margin-top: 20px;
    font-size: 1.1em;
  }
}

.lead {
  text-align: center;
  margin-bottom: 50px;
}

.inline-logo {
  font-family: "VT323", monospace;
  font-size: 1.4em;
}

.inline {
  margin-bottom: -5px;
}

.feed {
  text-align: center;
  font-size: 0.8em;

  a {
    display: block;
    margin: 10px auto;
    max-width: 400px;
    padding: 10px 0px;
    color: white;
    text-decoration: none;
    background-color: YellowGreen;
    border-radius: 3px;
    border: 1px solid rgba(0,0,0,0.2);
    font-size: 1.2em;

    -o-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -khtml-transition: all 0.2s linear;
    -webkit-transition: all 0.2s linear;
    -ms-transition: all 0.2s linear;
    transition: all 0.2s linear;

    &:hover {
      color: white;
      text-decoration: none;
      background-color: Orange;
      box-shadow: 0px 0px 5px Orange;
    }
  }

  .swap {
    height: 35px;
    padding-top: 18px;
    padding-bottom: 0px;

    .icon {
      margin: -3px 5px 10px 5px;
    }
  }

  .home:hover:before {
     content: "default mix";
  }

  .all:hover:before {
     content: "all sources";
  }

  .swap:hover img{
    display: none;
  }
}

.source-icon {
  margin-left: 5px;
  margin-right: 5px;
}

.about {
  margin-top: 50px;

  h1 {
    margin-top: 30px;
    margin-bottom: 0px;
  }

  a {
    color: black;
    text-decoration: none;
    font-weight: bold;
  }

  .muted {
    text-align: center;
  }
}

.share-path a {
  color: white;
  background-color: CornflowerBlue;
  padding: 5px 10px;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  text-decoration: none;
  display: block;
  max-width: 250px;
  margin: 0 auto;
  text-align: center;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.share-path a:hover {
  box-shadow: 0px 0px 5px CornflowerBlue;
}

footer {
  text-align: center;

  a {
    font-size: 0.8em;
    padding: 3px;
    color: Grey;
    text-decoration: none;
  }
}

/*feedback page*/
.buttons {
  margin-top: 10px;
  text-align: center;
  line-height: 1.8em;
  font-size: 0.9em;
}

.feedback-link {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

/* trello page */
.submit {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
  display: block;
  background-color: YellowGreen;
  margin: 10px auto;
  max-width: 400px;
  width: 100%;
  padding: 10px 0px;
  color: white;
  border-radius: 3px;
  border: 1px solid rgba(0,0,0,0.2);
  text-align: center;
  text-decoration: none;

  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -khtml-transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  transition: all 0.2s linear;

  &:hover {
    color: white;
    text-decoration: none;
    background-color: Orange;
    box-shadow: 0px 0px 5px Orange;
  }
}

.token-field {
  width: 100%;
  padding: 5px 0px;
  font-size: 1.3em;
  text-align: center;
  resize: none;
  border-radius: 3px;
  border: 1px solid LightGrey;
  margin: 30px auto;
  color: Grey;

  &:focus {
    outline: none;
    border: 1px solid YellowGreen;
    box-shadow: 0 0 5px YellowGreen;
  }
}

.home-link {
  text-align: center;

  a {
    color: Grey;
  }
}

@media (max-width: 600px) {
  html { overflow-x: hidden; }

  body {
    font-size: 16px;
    line-height: 1.4em;
    overflow-x: hidden;
  }

  table {
    margin-top: 0px;
    width: auto;
  }

  .menu {
    position: relative;
  }

  div.options {
    margin-top: 5px;
    margin-bottom: 0px;
  }

  .muted {
    font-size: 0.8em;
  }

  .graph {
    position: relative;
    width: 100%;
    text-align: center;

    img {
      height: 70px;
    }
  }

  .logo {
    float: none;
    position: relative;
    border-radius: 0px;

    a.menu-text {
      color: white;
    }
  }

  .flash {
    padding: 15px 0px 15px 0px;

    span {
      display: none;
    }
  }

  #log-button {
    border-radius: 0px;
    right: inherit;
    margin-top: 5px;
    text-align: center;
    padding: 15px 0px 15px 0px;

    span.message {
      display: none;
    }

    span.tick {
      font-size: 25px;
    }
  }

  td.log {
    padding: 16px 0px 14px 0px;
  }

  .domain {
    display: none;
  }

  .short-domain {
    display: inline;
    white-space: pre;
  }

  .source-selector {
    width: 100%;
    position: relative;
    margin-top: 5px;
    top: 0px;

    a {
      margin-right: 5px;
      margin-left: 5px;
    }
  }

  .options {
    font-size: 15px;
    text-align: center;
    float: none;
    position: relative;
    top: 0px;
    right: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-left: none;

    p {
      text-align: center;
    }

    span {
      margin-right: 5%;
      margin-left: 5%;
    }
  }

  .stats {
    position: absolute;
    top: 0px;
    right: 0px;
    color: white;
    margin: 0px;
    padding: 5px;
    background-color: transparent;
  }

  .extras {
    position: absolute;
    top: 26px;
    right: 3px;
    font-size: 0.7em;

    a:first-child {
      display: block;
      padding: 0px 5px;
      margin-bottom: 5px;
    }
  }

  /*welcome page*/
  .container {
    margin-top: 20px;
    width: auto;
  }

  .about {
    margin-top: 50px;
  }

  .swap .icon {
    margin: -3px 2px 10px 2px;
  }

  /*feedback page*/
  .submit {
    background: none;
  }

  .comment-box {
    width: 90%;
    font-size:1em;
  }

  .container {
    text-align: center;
  }

  .submit-area {
    background-color: YellowGreen;
  }

  .submit-area input {
    color: white;
    border-radius: 3px;
  }

  /* trello page */
  .submit-link {
    background-color: YellowGreen;
    color: white;
  }
}
