/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url(http://fonts.googleapis.com/css?family=VT323);

body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 14px;
  background-color: #FCFCFC;
}

td {
  padding-bottom: 8px;
}

td:first-child {
  padding-right: 7px;
}

.icon {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.muted {
  color: Gray;
  font-size: 0.85em;
}

.muted span {
  color: DarkGray;
}

.title-link {
  color: #454545;
  text-decoration: none;
  border-bottom: 1px solid #454545;
}

.title-link:visited {
  color: DarkGray;
  border-bottom: 1px solid DarkGray;
}

.title-link:hover {
  color: black;
  border-bottom: 2px solid black;
}

.menu {
  color: #F8F8F8;
  background-color: #454545;
  float: right;
  right: 0px;
  top: 0px;
  margin: 0px;
  padding: 5px 10px 5px 10px;
  position: fixed;
  font-family: "VT323", monospace;
  font-size: 20px;
  color: white;
  border: none;
  border-bottom-left-radius: 3px;
}

.menu a {
  border: none;
  text-decoration: none;
}

.menu a:visited {
  color: white;
}

@media (max-width: 600px) {
  body {
    font-size: 16px;
    line-height: 1.4em;
  }

  .menu {
    float: none;
    position: relative;
    border-radius: 3px;
  }
}
