.flash {
  padding: 8px 0px 2px 0px;
  height: 20px;
  margin: 0px;
  text-align: center;
  color: white;
  font-size: 12px;
  border-bottom: 1px solid white;
  background-color: CornflowerBlue;

  a {
    font-weight: bold;
    background-color: rgba(0,0,0,0.2);
    padding: 2px 4px 2px 4px;
    border-radius: 2px;
    color: white;
    text-decoration: none;

    &:hover {
      background-color: rgba(0,0,0,0.5);
    }
  }

  span {
    opacity: 0.7;
  }
}
