footer {
  margin: 10px 0px;
  width: 100%;
  text-align: center;

  img {
    height: 70px;
    width: 150px;
  }

  p {
    margin: 0px;
    text-align: center;
    font-size: 0.7em;
    padding-bottom: 2px;
  }
}
