.icon {
  margin-top: 5px;
  border-radius: 3px;
  border: 1px solid black;
}

.clock-icon {
  opacity: 0.5;
  margin-right: 2px;
}

.twitter-icon {
  margin-bottom: -3px;
  margin-right: -6px;
  opacity: 0.7;
}

.format-icon {
  background-color: DarkGray;
  border-radius: 3px;
  margin-left: 4px;
  color: white;
  padding: 1px 5px;
  font-size: 0.6em;
}
