.read {
  background-color: rgba(154, 205, 50, 0.25);

  .item-title {
    a:visited {
      color: #454545;
      border-bottom: 1px solid black;
    }

    a:visited:hover {
      color: black;
      border-bottom: 1px solid black;
    }
  }

  &:nth-last-child(1) { opacity: 0.1 }
  &:nth-last-child(2) { opacity: 0.2 }
  &:nth-last-child(3) { opacity: 0.3 }
  &:nth-last-child(4) { opacity: 0.4 }
  &:nth-last-child(5) { opacity: 0.5 }
  &:nth-last-child(6) { opacity: 0.6 }
  &:nth-last-child(7) { opacity: 0.7 }
  &:nth-last-child(8) { opacity: 0.8 }
  &:nth-last-child(9) { opacity: 0.9 }
}

.item-title {
  font-size: 1em;
  display: inline;
  font-weight: normal;
  margin: 0px;

  a {
    color: #454545;
    text-decoration: none;
    border-bottom: 1px solid #454545;

    &:visited {
      color: DarkGray;
      border-bottom: 1px solid DarkGray;
    }

    &:hover {
      color: black;
      border-bottom: 2px solid black;
    }

    &:visited:hover {
      color: DarkGray;
      border-bottom: 2px solid DarkGray;
    }
  }
}

.domain, .short-domain {
  font-size: 0.8em;
  color: DarkGrey;
}

.short-domain {
  display: none;
}

.muted {
  color: Gray;
  font-size: 0.85em;

  span {
    color: DarkGray;
  }

  .fast { color: SeaGreen; }
  .medium { color: SandyBrown; }
  .slow { color: Crimson; }

  .comments-link {
    padding: 5px 0px;
  }
}

span.muted {
  span {
    margin-left: 7px;

    &.topped {
      font-size: 13px;
      color: #FFD700;
    }
  }

  a {
    color: Gray;
  }
}

.points {
  text-decoration: none;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

  img {
    opacity: 0.75;
    margin-right: 2px;
    margin-bottom: -1px;
  }
}

td {
  padding-top: 4px;
  padding-bottom: 4px;
}

td:first-child {
  padding-left: 8px;
  padding-right: 7px;
  text-align: right;
  width: 1px;
}

td:last-child {
  padding-right: 7px;
}

