.menu {
  width: 100%;
  background-color: #5E5E5E;
  color: #F8F8F8;
  height: 30px;
  position: fixed;
  z-index: 100;
  top: 0px;

  .logo {
    font-family: "VT323", monospace;
    font-size: 20px;
    line-height: 30px;
    margin-left: 5px;

    a {
      text-decoration: none;
      color: white;

      &:visited {
        color: white;
      }
    }
  }

  #menu-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #454545;
  }

  #settings-toggle {
    float: right;
    font-size: 0.9em;
    background-color: #2E2E2E;
    height: 16px;
    padding: 7px;
    cursor: pointer;

    a {
      text-decoration: none;
      color: #F8F8F8;

      &:visited {
        color: #F8F8F8;
      }
    }
  }
}
