.menu {
  width: 100%;
  padding: 5px 0px;
  background-color: #454545;
  color: #F8F8F8;

  .logo {
    font-family: "VT323", monospace;
    font-size: 20px;
    margin-left: 5px;

    a {
      text-decoration: none;
      color: white;

      &:visited {
        color: white;
      }
    }
  }

  #settings-toggle {
    float: right;
    line-height: 19px;
    font-size: 20px;

    a {
      text-decoration: none;
      color: #F8F8F8;
      padding: 3px 10px 4px 10px;
      background-color: #2E2E2E;

      &:visited {
        color: #F8F8F8;
      }
    }
  }
}
