td.read-marker {
  text-align: center;
  color: white;
  font-size: 12px;
  background-color: YellowGreen;
  padding: 5px 0px 5px 0px;
  height: 20px;

  span {
    font-size: 1.2em;
  }
}

@media (max-device-width : 600px) {
  td.read-marker {
    padding: 8px 0px 10px 0px;
  }
}
