=render 'menu', sources: @session.sources

div.container
  p.lead
    span.inline-logo serializer
    |&nbsp;collects links from&nbsp;
    =link_to('https://news.ycombinator.com', target: '_blank') do
      =cl_image_tag('hacker_news', html_height: '20', html_width: '20', class: 'inline icon')
    |,&nbsp;
    =link_to('http://www.reddit.com/r/programming/', target: '_blank') do
      =cl_image_tag('reddit', html_height: '20', html_width: '20', class: 'inline icon')
    |&nbsp;&amp;&nbsp;
    =link_to('http://producthunt.com', target: '_blank') do
      =cl_image_tag('product_hunt', html_height: '20', html_width: '20', class: 'inline icon')
    |&nbsp;and lists them in&nbsp;
    em sequential order.

  div.feed
    =link_to(root_path, class: 'swap home') do
      -['hacker_news', 'product_hunt', 'reddit'].each do |source|
        =cl_image_tag(source, html_height: '20', html_width: '20', class: 'icon source-icon')
  div.feed
    =link_to(all_path, class: 'swap all')
      -SOURCES.each do |source|
        =cl_image_tag(source, html_height: '20', html_width: '20', class: 'icon source-icon')
  div.feed
    |...or choose your own:
    div =link_to 'custom', custom_path

  div.about
    h1 Syncing & Cookies
    p You can sync read status across devices by visiting your session's path on other devices. Your session path is:
    p.share-path =link_to root_path + @session.identifier, root_path + @session.identifier
    p Visiting that link will set a cookie linking that device to the same shared session. No passwords needed.

    h1 About
    p
      em serializer
      |&nbsp;is just a side project, I wanted a feed for social news sites and I enjoy marking things as read.
    p
      |I was inspired by&nbsp;
      =link_to 'a blog post', 'http://www.slashie.org/articles/shipping-side-projects/'
      |&nbsp;(I assume shared on HN) to make this more than just a quick 'tool' for my personal use.
    p I follow the 'all' list but I made 'home' and 'custom' to let others choose different sources.
    br
    p.muted
      |Built with rails, nokogiri, feedjira, slim, httpclient, random_username, gruff &amp; cloudinary
    p.muted
      |Built by&nbsp;
      =link_to 'Charlie', 'http://www.charlieegan3.com'
